@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Amatic+SC&display=swap');

body {
 display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh; 
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  background-color: #ffffff; /*BORDES, gris*/
  margin: 0;}

h2 {
  font-family: 'Patrick Hand', cursive !important;
  font-size: 39px; 
  text-align: center;}

h3 {
  font-family: 'Patrick Hand', cursive !important;
  font-size: 28px; 
  text-align: justify;}

  footer{
    font-family: 'Patrick Hand', cursive !important;
    font-size: 22px; 
  }

.bordes{    /*todo el texto (EN BLANCO)*/
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 8px;
  padding: 35px; /*margenes de los margenes*/
}

.bloque-caja {
    display: flex;           
    justify-content: center;  
    flex-wrap: wrap;         
}
.bloque-caja img {
    justify-content: center; 
    margin: 5px 10px;
    border-radius: 20px;
}

.bloque-imagenes img {
    border-radius: 20px;
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
    margin: 0 auto !important;
    text-align: center !important;
}

.caja-redonda {
  border-radius: 10px;
  border: 1px solid #aaa;
  padding: 8px;
}

a {  color:rgba(223, 193, 1, 0.831);
text-decoration: none }
a:hover {color: #9C9C9C;
 text-decoration: none; }

.menu-list{ 
    background-color: rgba(216, 207, 104, 0.673);
    border-radius: 8px;
    text-align: center; 
}
.tarjeta {
    border: 3px solid #f7ea6fcb;
    border-radius: 12px;
    padding: 15px;  
    width: calc(33.33% - 14px);
    min-width: 280px;          
    background-color: #dbdadaa2;
    text-align: center;
    margin-bottom: 30px; 
    box-sizing: border-box;
    height: auto;  
    padding: 15px 20px;        

}

.tarjeta-inicio { 
    display: flex;             
    justify-content: center;   
    align-items: center;      
    border: 3px solid #f7ea6fcb;
    border-radius: 12px;
    background-color: #dbdadaa2;
    padding: 15px 20px; 
    width: 100%;
    max-width: 480px; 
    height: 45px;       
    text-align: center;
   
} 
    
  .tarjeta-diseño {
    display: flex;
    justify-content: center; 
    align-items: center; 
    border: 3px solid #f7ea6fcb;
    border-radius: 12px;
    background-color: #dbdadaa2;
    padding: 15px 20px; 
    width: 100%;
    max-width: 380px; 
    height: 45px;       
    text-align: center;
    margin-bottom: 30px;
    margin-left: 45px;
    margin-right: 1px;
}


.info-oculta {
    display: none; 
    max-width: 720px; 
    margin: 20px auto; 
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 12px;
    border: 2px solid #dbdadaa2;
}

.info-oculta.mostrar {
    display: block; }

.contenedor-tarjetas {
    display: flex;  
    flex-wrap: wrap;  
    gap: 20px;             
    justify-content: center; 
    max-width: 1200px; 
    margin: 0 auto;
}

.tarjeta h3 {
    color: #333;
    margin-top: 0;
}

