@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  background-color: #eee; /*BORDES, gris*/
  margin: 0;}

h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px; 
  text-align: center;}

h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px; 
  text-align: justify;}


.bordes{    /*todo el texto (EN BLANCO)*/
  background-color: #eee;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 200px;
  margin-left: 200px;
  border-radius: 8px;
  padding: 35px; /*margenes de los margenes*/
}

.bloque-imagenes img {
    justify-content: center; 
    margin: 5px 10px;
    border-radius: 20px; 
}


a { color:rgba(223, 193, 1, 0.831); }
a:hover {color: #9C9C9C;
 text-decoration: none; }

.menu-list{ 
    background-color: rgba(216, 207, 104, 0.76);
    border-radius: 8px;
    text-align: center;  
}
.tarjeta {
    border: 1px solid #f7ea6fcb;
    border-radius: 12px;
    padding: 20px;
    max-width: 350px; /* Limita el ancho */
    background-color: #dbdadaa2;
    text-align: center;
    margin-bottom: 10px;
}

.contenedor-tarjetas {
    display: flex;  
    flex-wrap: wrap;     /*se bajan automáticamente */
    gap: 20px;             
    justify-content: center; 
}

.tarjeta h3 {
    color: #333;
    margin-top: 0;
}